.Order {
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

.Order-IngreidentOutput {
  text-transform: capitalize;
  margin: 0 3px;
  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: 0 2px 3px #ccc;
  padding: 5px;
  box-sizing: border-box;
}

.Order:hover {
  transform: translateY(-3px);
  transition: 0.2s ease-in-out;
  box-shadow: 0 4px 16px #ccc;
  border-color:  blue;
}
