.Input {
  width: 100%;
  padding: 2px 16px;
  box-sizing: border-box;
}

.Input label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.Input input,
.Input textarea,
.Input select {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  box-sizing: border-box;
  display: block;
  width: 100%;
}

.Input input:focus {
  outline: none;
  background-color: #ccc;
}

/* Problem */
/* the following is valid but not working, 
   becuase the input will override the properties 
  .Input-Invalid { 
    border: 1px solid red;
  }
*/

/* Solution 1 */
/* 
  .Input input.Input-Invalid, 
  .Input textarea.Input-Invalid, 
  .Input select.Input-Invalid {
      border: 1px solid red;
  }
*/

/* Solution 2 */
.Input-Invalid { 
  border: 1px solid red !important;
}


